.vscode/
.idea/
build/
Pyrus2D/.vscode/
Pyrus2D/.idea
*/__pycache__/*
*/__pycache__/
**/__pycache__/*
Pyrus2D/*/__pycache__/
Pyrus2D/*/__pycache__/*
Pyrus2D/*.pyc
*.pyc
Pyrus2D/venv/
Pyrus2D/lib/network/__pycache__/udp_socket.cpython-36.pyc
Pyrus2D/lib/Player/__pycache__/
Pyrus2D/lib/math/__pycache__/
Pyrus2D/variables
Pyrus2D/accessors
Pyrus2D/*.log
Pyrus2D/main_test.py
Pyrus2D/test.sh
Pyrus2D/todos.py
*.so
Pyrus2D/*.c
*/build/
Pyrus2D/binary/
Pyrus2D/test.py
Pyrus2D/player-*.txt
Pyrus2D/player-*.err
Pyrus2D/log
Pyrus2D/test-log
Pyrus2D/main_tmp.py
environment/.vscode
environment/build
